<div>
  <a href="{{log_in_route}}">Fazer login</a>
  <a href="{{sign_up_route}}">Criar conta</a>
</div>

<div>
  <a href="{{play_route}}">Jogar!</a>
</div>

<div>
  ranking dos jogadores que mais ponturam
  {{ranking}}
</div>


<style>
body {
  background-color: #f7f7f7;
}
</style>
