<div>

</div>

<center>
  <h4>Ranking dos jogadores que mais pontuaram</h4>
  <table class="mdl-data-table mdl-js-data-table">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Nome</th>
        <th>Pontos</th>
      </tr>
    </thead>
    <tbody>
      {{#each ranking}}
      <tr>
        <td class="mdl-data-table__cell--non-numeric">{{{@key}}}</td>
        <td>{{{this}}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" href="{{{play_route}}}">Jogar!</a>
</center>

<style>
body {
  background-color: #f7f7f7;
}
.mdl-button {
  margin: 2%;
}
</style>
